.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.BuildControl button:disabled {
  background-color: #adaba9;
  border: 1px solid #9e9c9a;
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #adaba9;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {
  background-color: rgb(70, 106, 121);
  color: white;
}

.BuildControl .More {
  background-color: rgb(109, 173, 236);
  color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: rgb(86, 126, 143);
  color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: rgb(131, 189, 248);
  color: white;
}

/*
.BuildControl  {
  margin: 20px 0;
  color: #fff;
  border-radius: 5px;
  padding: 15px 30px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: rgb(70, 106, 121);
  background: linear-gradient(
    0deg,
    rgb(70, 106, 121) 0%,
    rgb(109, 173, 236) 100%
  );
  width: 270px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
*/
