.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  align-items: center;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Success {
  color: #24a12e;
}

.Danger {
  color: #2b2b2b;
}

.Button:disabled {
  color: rgb(143, 141, 141);
  cursor: not-allowed;
}
